.App {
  text-align: center;
}

th,
td {
  border: 1px solid black;
}

@keyframes shift-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(30px);
  }
}

@keyframes shift-baseline {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes shift-green {
  from {
    background-color: gray;
  }
  to {
    background-color: green;
  }
}

@keyframes shift-grey {
  from {
    background-color: green;
  }
  to {
    background-color: gray;
  }
}

.food-row {
  opacity: 0;
}

.delicious.healthy {
  transform: translateX(30px);
  animation: shift-right 0.5s, shift-green 0.8s;
  background-color: green;
}
.delicious.not-healthy {
  transform: translateX(30px);
  animation: shift-right 0.5s, shift-grey 0.8s;
  background-color: grey;
}

.not-delicious.healthy {
  animation: shift-baseline 0.5s, shift-green 0.8s;
  background-color: green;
}
.not-delicious.not-healthy {
  animation: shift-baseline 0.5s, shift-grey 0.8s;
  background-color: grey;
}

/* .healthy {
  background-color: green;
  animation-name: shift-healthy;
  animation-duration: 0.8s;
}

.not-healthy {
  background-color: grey;
  animation-name: shift-unhealthy;
  animation-duration: 0.8s;
} */

.animate {
  opacity: 1 !important;
}
